/*
 * GEOB_wpsprofile.js
 */
.wps-linechart {
    background-image: url(../img/linechart.png) !important;    
}
.wps-div {  
   padding-left: 40px;   
}

.wps-process {
   background-image: url(../img/process.png) !important;  
   background-repeat:no-repeat;
   height: 20px;
   padding-left: 40px;
   padding-bottom: 10px;   
}
.wps-referentiel {
   background-image: url(../img/map.png) !important;  
   background-repeat:no-repeat;
   height: 20px;
   padding-left: 40px;
   padding-bottom: 10px;   
}
.wps-distance {
   background-image: url(../img/arrow-double.png) !important;  
   background-repeat:no-repeat;
   height: 20px;
   padding-left: 40px;
   padding-bottom: 10px;   
}
.wps-positive {
   background-image: url(../img/arrow-up.png) !important;  
   background-repeat:no-repeat;
   height: 20px;
   padding-left: 40px;
   padding-bottom: 10px;   
}
.wps-negative {
   background-image: url(../img/arrow-down.png) !important;  
   background-repeat:no-repeat;
   height: 20px;
   padding-left: 40px;
   padding-bottom: 10px;   
}
.wps-uploadfile {
    background-image: url(../img/upload_file.png) !important;    
}
.wps-csv {
    background-image: url(../img/excel.png) !important;    
}
.x-form-file-wrap {
    position: relative;
    height: 22px;
}
.x-form-file-wrap .x-form-file {
	position: absolute;
	right: 0;
	-moz-opacity: 0;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
	position: absolute;
	right: 0;
	z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}